
<%= form_with model: post do |f| %>

  <div class="form-inputs">
    <h5>Title</h5>
    <%= f.text_field :title, class: "form-control string" %>
    <h5 class="pt-2">Picture</h5>
    <%= f.file_field :picture %>
    <h5 class="pt-2">Banner</h5>
    <%= f.file_field :banner %>
    <h5 class="pt-2">Content</h5>
    <%= f.rich_text_area :content %>
  </div>

  <div class="form-actions pt-2">
    <%= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>
