<div class="banner-container">
  <%= image_tag(@post.picture,  class: "banner") %>
</div>

<div class="container">
  <div class="row">
    <div class="jumbotron full-width">

      <h1 class="display-4">
          <%= link_to @post.title, root_path %>
      </h1>

      <p class="lead">
        <%= @post.updated_date_formater %> by <%= @post.user.email %>
      </p>

      <hr class="my-4" />
      <div class="post-content"> 
        <%= @post.content %>
      </div>
      <% if(current_user && (current_user.admin || current_user.id == @post.user_id))  %>
          <%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary' %>
          <div class="btn-delete">
            <%= button_to "Delete", { action: "destroy", id: @post.id },
                                method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
           <div>
      <% end %>
  
      <%= link_to 'Back', posts_path, class: 'btn btn-secondary ml-1' %>
    </div>
  </div>
</div>
